.o_form_view .o_notebook > .tab-content > .tab-pane > .no-margin-page-content
{
    margin-bottom: -46px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;

    min-height: 83px;

    & > .header
    {
        border-bottom: 1px solid #ced4da;
        padding-left: 16px;

        & > .btn
        {
            margin: 4px 3px 4px 0px;
            min-height: 25px;
            padding-bottom: 2px;
            padding-top: 2px;
        }
    }
    & > .content
    {
        box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
        padding: 16px;

        & > :first-child
        {
            margin-top: 0;
        }
    }
}
